---
---
<div class="nav-bar">
    <a href="index.html">Home</a>
    <a href="about.html">About Me</a>

    <div class="dropdown ms-4">
        <a class="dropdown-toggle text-decoration-none fw-bold" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: #eec;">
            Projects
        </a>
        <ul class="dropdown-menu dropdown-menu-dark">
            <li><a class="dropdown-item" href="https://github.com/goisemail/project1" target="_blank">Project 1</a></li>
            <li><a class="dropdown-item" href="https://github.com/goisemail/project2" target="_blank">Project 2</a></li>
            <li><a class="dropdown-item" href="https://github.com/goisemail/project3" target="_blank">Project 3</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="projects.html">More…</a></li>
        </ul>
    </div>

    <a href="#contact" class="ms-4">Contact</a>
</div>
